
.CU{
    background-color:rgb(255, 255, 255);
    width:40%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap:wrap;
    margin-bottom:50px;
    padding:0 20px;
    box-shadow: 0 8px 38px rgba(155, 155, 155, 0.3), 0 5px 12px rgba(155, 155, 155, 0.22);
    text-decoration: none;

}

.CU__Column{
    width:30%;
    box-sizing:border-box;
}

.CU__Column:last-child{
    padding:20px 0;
    width:60%;
}

.CU .CU__Poster{
    max-width: 100%;
    position: relative;
    top:-20px;
    box-shadow: -10px 19px 38px rgba(83, 83, 83, 0.3), 10px 15px 12px rgba(80,80,80,0.22);
}

.Credit{
    background-color:rgb(255, 255, 255);
    width:80%;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap:wrap;
    margin-bottom:50px;
    padding:0 20px;
    box-shadow: 0 8px 38px rgba(155, 155, 155, 0.3), 0 5px 12px rgba(155, 155, 155, 0.22);
    text-decoration: none;

}

.CU__comunity{
    width:100%;
    box-sizing:border-box;
    font-size:16px;
    color:#885555
}

.CU__role{
    width:100%;
    box-sizing:border-box;
    font-size:10px;
}


@media screen and (min-width:320px) and (max-width:667px){
    .CU{
        width:100%;
    }
    .Credit{
         width:100%;
    }
}

@media screen and (min-width:320px) and (max-width:667px) and (orientation: portrait){
    .CU{
        width:100%;
        flex-direction: column;
    }
    .CU__Poster{
        top:0;
        left:0;
        width:100%;
    }
    .CU__Column{
        width:100%!important;
    }
    .Credit{
        width:100%;
        flex-direction: column;
    }
    .CU__comunity{
        width:100%!important;
    }   
    .CU__role{
        width:100%!important;
    }        
}